---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='QuestionnaireResponse' id='AHC-HRSN-screening-example' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: QuestionnaireResponse/AHC-HRSN-screening-example - Change History</h2>
  <p>History of changes for AHC-HRSN-screening-example {{type | downcase}}.</p>

  {%include QuestionnaireResponse-AHC-HRSN-screening-example-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
